<button
  mat-button
  class="mat-elevation-z0"
  color=""
  aria-label="Undo"
  title="Undo the last change"
  (click)="onUndo()"
  [disabled]="(disabled$ | async) || (canUndo$ | async) !== true">
  <mat-icon>undo</mat-icon>
  <span class="undo-redo-text">Undo</span>
</button>
<button
  mat-button
  class="mat-elevation-z0"
  color=""
  aria-label="Redo"
  title="Redo the last change"
  (click)="onRedo()"
  [disabled]="(disabled$ | async) || (canRedo$ | async) !== true">
  <mat-icon>redo</mat-icon>
  <span class="undo-redo-text">Redo</span>
</button>
