:host {
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: calc(1rem - 3px);

  > :not(:first-child) {
    margin-left: 1rem;
  }
  app-time-navigation {
    margin-left: auto !important;
  }
}
