<mat-button-toggle-group
  class="main-toggle-group"
  name="responseViews"
  aria-label="Response Views"
  (change)="onToggleChange($event.value)"
  [value]="page$ | async">
  <mat-button-toggle class="main-toggle" [value]="Page.RoutesChart" [disableRipple]="true"
    >Gantt
  </mat-button-toggle>
  <mat-button-toggle class="main-toggle" [value]="Page.RoutesMetadata" [disableRipple]="true"
    >Metadata
  </mat-button-toggle>
</mat-button-toggle-group>
<app-time-navigation
  *ngIf="(page$ | async) === Page.RoutesChart"
  [range]="range$ | async"
  [rangeOffset]="rangeOffset$ | async"
  [nowRangeOffset]="nowRangeOffset$ | async"
  [timezoneOffset]="timezoneOffset$ | async"
  [globalDuration]="globalDuration$ | async"
  (rangeOffsetChange)="onRangeOffsetChange($event)">
</app-time-navigation>
