AGENT_URL=https://routeoptimization.googleapis.com/agent/v1/message:send
AGENT_STREAM_URL=https://routeoptimization.googleapis.com/agent/v1/message:stream
PROJECT_ID=my-project-id
API_URL="http://localhost:8000"
MAPS_API_KEY="API_KEY"
MAP_ID="MAP_ID"