<app-progress-bar *ngIf="!isWelcomePage" [loading]="loading"></app-progress-bar>
<app-post-solve-metrics *ngIf="isPostSolve"></app-post-solve-metrics>

<main>
  <app-map id="main-map" [ngClass]="{ 'map-hidden': !hasMap }"></app-map>
  <div id="main-page" class="page-wrapper">
    <div class="page d-flex flex-column">
      <ng-container *ngIf="isShipmentsPage">
        <app-shipments-control-bar></app-shipments-control-bar>
      </ng-container>
      <ng-container *ngIf="isVehiclesPage">
        <app-vehicles-control-bar></app-vehicles-control-bar>
      </ng-container>
      <app-routes-chart-control-bar *ngIf="isRoutesChartPage"></app-routes-chart-control-bar>
      <app-metadata-control-bar *ngIf="isMetadata"></app-metadata-control-bar>
      <ng-container *ngIf="isPreSolve">
        <app-scenario-kpis></app-scenario-kpis>
      </ng-container>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<div class="map-hidden">
  <!-- Map component instance shared by forms -->
  <app-form-map></app-form-map>
</div>

<div class="map-hidden">
  <!-- Map component instance used for generating pdf reports -->
  <app-pdf-map></app-pdf-map>
</div>
