:host {
  display: flex;
  margin: 1rem;
}

.branding,
.branding:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 2px;
  margin: 0;
  user-select: none;
  white-space: nowrap;
}

.branding__name {
  position: relative;
  top: -1.5px;
  color: #5f6368;
  font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  text-align: left;
}

.branding__logo {
  position: relative;
  top: -4px;
}
