**/*.log
**/node_modules

*.code-workspace
*.vscode

dist
tmp
out-tsc
bazel-out

config.*.json
*keys.json
service-account-credentials.json
make_env
values.yaml
local.auto.tfvars

.terraform*
terraform.tfstate*

.DS_Store
application/frontend/src/config/*