<div class="objectives-container">
  <div *ngFor="let control of form.controls; let i = index" class="objective-row">
    <mat-checkbox color="primary" [formControl]="control.get('selected')">
      {{ objectiveTypes[i].label }}
    </mat-checkbox>
    <div class="weight-container">
      <mat-form-field appearance="outline" class="weight-field unpadded-form-field">
        <mat-label>Weight</mat-label>
        <input matInput type="number" [formControl]="control.get('weight')" min="0">
      </mat-form-field>
      <mat-error *ngIf="control.get('weight').errors?.min">
        Must be greater than or equal to zero
      </mat-error>
    </div>
  </div>
</div>
