@import '../../../../styles/variables.scss';

:host {
  display: flex;
  padding: 1rem 2rem;
  color: $darker;
  border-bottom: 1px solid $blue-lighter;
  flex-wrap: wrap;
}

.planning-totals {
  min-width: 18rem;
  margin-right: 1rem;
}

.planning-total {
  font-size: 1.5rem;
  font-weight: bold;
}

.capacities {
  display: flex;
  flex: auto;
  flex-wrap: wrap;

  div {
    flex: none;
    width: 100%;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  &.max-columns-2 div,
  &.max-columns-3 div,
  &.max-columns-4 div {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .capacities {
    &.max-columns-3 div,
    &.max-columns-4 div {
      width: 33%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .capacities {
    &.max-columns-4 div {
      width: 25%;
    }
  }
}
