<ng-container *ngIf="vehicleOperatorKpis">
  <div class="planning-totals">
    <ng-container *ngIf="vehicleOperatorKpis.selected; else noVehicleOperatorsSelected">
      <span class="planning-total">{{ vehicleOperatorKpis.selected | number }}</span>
      Vehicle Operator{{ vehicleOperatorKpis.selected > 1 ? 's' : '' }} selected out of
      <span class="planning-total">{{ vehicleOperatorKpis.total | number }}</span>
    </ng-container>
    <ng-template #noVehicleOperatorsSelected>
      Vehicle Operators in total
      <span class="planning-total">{{ vehicleOperatorKpis.total | number }}</span>
    </ng-template>
  </div>
</ng-container>
