@import '../../../../styles/variables.scss';

.shipment-meta-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

app-base-shipments-table {
  position: relative;

  app-table {
    overflow: auto;
  }

  /** Workarounds for mat-table leaving gaps between sticky columns */
  .cdk-column-select {
    left: 0px !important;
    width: 54px !important;
    min-width: 54px !important;
    max-width: 54px !important;
    box-sizing: border-box;
  }

  .cdk-column-id {
    left: 54px !important;
    width: 40px !important;
    min-width: 40px !important;
    box-sizing: border-box;
  }

  .cdk-column-menu {
    right: 0px !important;
    width: 70px !important;
    min-width: 70px !important;
    max-width: 70px !important;
    box-sizing: border-box;
  }
  .menu-button {
    width: 35px !important;
    height: 35px !important;

    .mat-button-wrapper mat-icon {
      margin-bottom: 6px;
    }
  }
  /** End workarounds */

  .menu-shipment {
    display: flex;
  }
}

.time-windows-panel.mat-menu-panel {
  min-height: fit-content;
  padding: 1rem;
}

app-base-shipments-table,
.time-windows-panel {
  .time-window {
    line-height: 1rem;
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
    .time-window__time,
    .time-window__date {
      white-space: nowrap;
    }

    .time-window__date {
      color: $dark;
      font-size: 13px;
    }
  }
}
