<div class="metrics-box-container">
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Generated routes</div>
    <div class="mb-0 metric-box-value">
      {{ numberOfRoutes }} route{{ numberOfRoutes > 1 ? 's' : '' }} in
      {{ solveSeconds | number: '1.2-2' }} seconds
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Average across all vehicles</div>
    <app-post-solve-timeline-legend
      [vehicleTimeAverages]="vehicleTimeAverages"></app-post-solve-timeline-legend>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Total cost</div>
    <div class="mb-0 metric-box-value">
      {{ totalCost | currency }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Total km driven</div>
    <div class="mb-0 metric-box-value">
      {{ totalDistance / 1000 | number: '1.1-1' }}
    </div>
  </div>
  <button
    *ngIf="skippedShipmentsCount > 0"
    class="metric-box metric-box-warning"
    (click)="skippedShipmentsClick.emit()"
    title="Go to skipped shipments metadata">
    <ng-container *ngTemplateOutlet="skippedShipmentsMetric"></ng-container>
  </button>
  <div class="metric-box">
    <ng-container *ngTemplateOutlet="skippedShipmentsMetric"></ng-container>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title"># of vehicles used</div>
    <div class="mb-0 metric-box-value">
      {{ numberOfRoutes }} / {{ numberOfVehicles }}
      <div *ngIf="numberOfRoutes !== numberOfVehicles">
        {{ numberOfVehicles - numberOfRoutes }} vehicles unused
      </div>
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Duration</div>
    <div class="mb-0 metric-box-value">
      {{ formattedStart }}-{{ formattedEnd }}{{ totalDays > 0 ? '+' + totalDays : '' }}
    </div>
  </div>
</div>

<ng-template #skippedShipmentsMetric>
  <div class="mb-1 metric-box-title">Shipments assigned</div>
  <div class="mb-0 metric-box-value">{{ madeShipments }}/{{ shipmentsCount }}</div>
  <div class="mb-0 metric-box-value">
    {{ skippedShipmentsCount }} shipment{{ skippedShipmentsCount === 1 ? '' : 's' }} skipped
  </div>
</ng-template>
