@import '../../../../styles/variables.scss';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  flex-grow: 1;
  max-height: initial;
}

.unused-shipment-type-warning {
  font-size: 0.8em;
  color: $orange;
}
