@import '../../../../styles/variables.scss';

.legend-container {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 0.5rem;

  .percent-label {
    display: flex;
    flex-direction: column;
    min-width: 70px;
  }
}

line.driving, line.idle-time, line.service {
  stroke: $blue-dark;
}

rect.break-time {
  fill: $blue-dark;
}