<div class="kpis-title">Request Metrics</div>
<div class="metrics-box-container">
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Shipments in total</div>
    <div class="mb-0 metric-box-value">
      {{ kpis.shipmentKpis.selected }} / {{ kpis.shipmentKpis.total }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Total load demands</div>
    <div class="mb-0 metric-box-value" *ngIf="kpis.shipmentKpis.demands?.length; else noValue">
      {{ kpis.shipmentKpis.demands[0].selected | number }} {{ kpis.shipmentKpis.demands[0].type }}
    </div>
    <div class="metric-box-value" *ngIf="kpis.shipmentKpis.demands?.length > 2">
      <a (click)="showAllKpis(kpis.shipmentKpis.demands, true)">View more</a>
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Total vehicle capacity</div>
    <div class="mb-0 metric-box-value" *ngIf="kpis.vehicleKpis.capacities?.length; else noValue">
      {{ kpis.vehicleKpis.capacities[0].selected | number }}
      {{ kpis.vehicleKpis.capacities[0].type }}
    </div>
    <div class="metric-box-value" *ngIf="kpis.vehicleKpis.capacities?.length > 2">
      <a (click)="showAllKpis(kpis.vehicleKpis.capacities, false)">View more</a>
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Number of vehicles</div>
    <div class="mb-0 metric-box-value">
      {{ kpis.vehicleKpis.selected }} / {{ kpis.vehicleKpis.total }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Dwell time</div>
    <div class="mb-0 metric-box-value">
      {{ formattedDurationSeconds(kpis.shipmentKpis.dwellTime) }}
    </div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Number of pickups</div>
    <div class="mb-0 metric-box-value">{{ kpis.shipmentKpis.pickups }}</div>
  </div>
  <div class="metric-box">
    <div class="mb-1 metric-box-title">Number of dropoffs</div>
    <div class="mb-0 metric-box-value">{{ kpis.shipmentKpis.deliveries }}</div>
  </div>
</div>

<ng-template #noValue>
  <span>-</span>
</ng-template>
