@import '../../../../styles/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 7px;
  border-bottom: 1px solid #d7e3f1;
}

.kpis-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.metrics {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.metric-box {
  background-color: #f3f8ff;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  flex-grow: 1;
  border: 1px solid #d5dee5;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.metric-box-title {
  color: #5f6368;
  font-weight: 300;
}

.metric-box-value {
  color: $blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
