<div class="window-container">
  <div class="info-container">
    <button
      mat-icon-button
      aria-label="Previous"
      (click)="previous()"
      [disabled]="currentIndex === 0 || selections.length === 0">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="selection-window">
      @switch (currentSelection?.type) { @case ('VEHICLE') {
      <app-vehicle-info-window [vehicleId]="currentSelection.id"></app-vehicle-info-window>
      } @case ('VISIT_REQUEST') {
      <app-visit-request-info-window
        [visitRequestId]="currentSelection.id"></app-visit-request-info-window>
      } }
    </div>
    <button
      mat-icon-button
      aria-label="Next"
      (click)="next()"
      [disabled]="currentIndex === selections.length - 1 || selections.length === 0">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="selection-count">
    {{ selections.length ? currentIndex + 1 : 0 }} / {{ selections.length }}
  </div>
</div>
