@import '../../../../styles/variables.scss';

.info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.selection-window {
  flex-grow: 1;

  app-vehicle-info-window {
    min-width: 255px;
  }

  app-visit-request-info-window {
    min-width: 175px;
  }
}

.selection-count {
  color: $gray;
}
