@import '../../../../styles/variables.scss';

.info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 365px;
}

.selection-window {
  flex-grow: 1;
}

.selection-count {
  color: $gray;
}
