@import '../../../../styles/variables.scss';

.info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.selection-window {
  flex-grow: 1;
  display: grid;

  .selection-item {
    grid-area: 1 / 1;
    visibility: hidden;
    height: 0;
    overflow: hidden;

    &.active {
      visibility: visible;
      height: auto;
    }
  }
}

.selection-count {
  color: $gray;
}

.pagination-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #717171;
  padding: 0;

  &:hover {
    color: #050505;
  }

  &:disabled {
    color: #C0C0C0;
  }

  mat-icon {
    font-size: 28px;
    position: relative;
    top: -1px;
  }
}
