<div class="text__title">
  <!-- icon -->
  <span class="mr-2" [ngSwitch]="visitCategory">
    <mat-icon
      *ngSwitchCase="VisitCategory.Delivery"
      class="icon--legend icon--dropoff"
      svgIcon="dropoff"
      title="Delivery"></mat-icon>
    <mat-icon
      *ngSwitchCase="VisitCategory.ServiceCall"
      class="icon--legend icon--visit"
      svgIcon="visit"
      title="Visit">
    </mat-icon>
    <mat-icon
      *ngSwitchDefault
      class="icon--legend icon--pickup"
      svgIcon="pickup"
      title="Pickup"></mat-icon>
  </span>
  <!-- title -->
  <ng-container *ngIf="shipment; else visitRequestTitleTemplate">
    <span>
      Shipment:
      <span [ngClass]="{ link: navigation }" (click)="onShipmentClick()">
        <span class="strong">{{ shipment | entityName }}</span>
      </span>
    </span>
  </ng-container>
  <ng-template #visitRequestTitleTemplate>
    <span>{{ visitRequest | entityName: 'Visit Request' }}</span>
  </ng-template>
</div>
<div class="text__caption mt-1">
  <div>
    <span>{{ visit | entityName: 'Visit:' }}</span>
  </div>
  <div *ngIf="visit">
    Visit Type: <span class="strong">{{ visit.isPickup ? 'Pickup' : 'Delivery' }}</span>
  </div>
  <div *ngIf="shipment?.shipmentType">
    Shipment Type: <span class="strong">{{ shipment.shipmentType }}</span>
  </div>
  <div *ngIf="visit">
    <div>
      Arrival: <span class="strong">{{ buildFormattedArrival() }}</span>
    </div>
    <div *ngIf="buildFormattedDeparture() as formattedDeparture">
      Departure: <span class="strong">{{ formattedDeparture }}</span>
    </div>
    <div>
      Vehicle: <span class="strong">{{ getVehicleName(vehicle) }}</span>
    </div>
  </div>
</div>
<div *ngIf="savePending" class="updating-overlay">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
