@import '../../../../styles/variables.scss';

:host {
  display: block;
  overflow: hidden;
}

.missed-soft-window,
.skipped-shipment {
  color: $red;
}

.updating-overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;

  mat-spinner {
    margin: auto;
  }
}
