<app-base-main-nav
  [disabled]="disabled$ | async"
  [selectedShipmentCount]="selectedShipmentCount$ | async"
  [selectedVehicleCount]="selectedVehicleCount$ | async"
  [page]="page$ | async"
  [hasSolution]="hasSolution$ | async"
  [isSolutionStale]="isSolutionStale$ | async"
  [isSolutionIllegal]="isSolutionIllegal$ | async"
  [solving]="solving$ | async"
  (shipmentsClick)="onShipmentsClick()"
  (vehiclesClick)="onVehiclesClick()"
  [allowExperimentalFeatures]="allowExperimentalFeatures$ | async"
  (solutionClick)="onSolutionClick()"
  (addShipment)="addShipment()"
  (addVehicle)="addVehicle()"
  (scenarioClick)="onScenarioClick()">
</app-base-main-nav>
