<form [formGroup]="form" autocomplete="off" class="edit-menu-content">
  <!-- global duration cost per hour -->
  <div class="settings-item pad-right item-md mb-2">
    <div class="mat-body-strong">Global Duration Cost Per Hour</div>
    <mat-form-field appearance="outline" class="pb-0">
      <input
        matInput
        type="number"
        min="0"
        pattern="\d*(\.\d+)?"
        step=".1"
        (ngModelChange)="onUpdateGlobalDurationCostPerHour()"
        [formControl]="globalDurationCostPerHourControl"
        placeholder="Enter number" />
    </mat-form-field>
    <mat-error
      class="mb-4"
      *ngIf="
        globalDurationCostPerHourControl.errors?.pattern &&
        (globalDurationCostPerHourControl.touched || globalDurationCostPerHourControl.dirty)
      "
      [attr.title]="patternMessage.innerText">
      <span #patternMessage>Non-negative number required</span>
    </mat-error>
  </div>

  <!-- max active vehicles -->
  <div class="settings-item pad-right item-sm">
    <div class="mat-body-strong">Max Active Vehicles</div>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="number"
        (change)="onUpdateMaxActiveVehicles()"
        [formControl]="maxActiveVehicles"
        min="1"
        max="{{ maxInt32 }}"
        placeholder="Enter number" />
      <mat-error class="mb-4" *ngIf="maxActiveVehicles.errors">
        Must be in range 1-{{ maxInt32 | number }}.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- global start date -->
  <div class="settings-datetime item-lg pad-right">
    <div class="mat-body-strong">Routes begin at</div>
    <mat-form-field appearance="outline" class="pad-right">
      <mat-label>Start Date</mat-label>
      <input
        matInput
        [matDatepicker]="startDatePicker"
        [formControl]="globalStartDate"
        (dateChange)="onUpdateStartDatetime()" />
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error *ngIf="globalStartDate.errors"> Start date is required. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Start Time</mat-label>
      <input
        matInput
        type="time"
        [formControl]="globalStartTime"
        (change)="onUpdateStartDatetime()"
        #startTimePicker />
      <mat-error *ngIf="globalStartTime.errors?.timeString"> Invalid format </mat-error>
      <mat-error *ngIf="!globalStartTime.errors?.timeString && globalStartTime.errors">
        Start time is required.
      </mat-error>
    </mat-form-field>
  </div>

  <!-- global end date -->
  <div class="settings-datetime item-lg pad-right">
    <div class="mat-body-strong">Routes end at</div>
    <mat-form-field appearance="outline" class="pad-right">
      <mat-label>End Date</mat-label>
      <input
        matInput
        [matDatepicker]="endDatePicker"
        [formControl]="globalEndDate"
        (dateChange)="onUpdateEndDatetime()" />
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error *ngIf="globalEndDate.errors"> End date is required. </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>End Time</mat-label>
      <input
        matInput
        type="time"
        [formControl]="globalEndTime"
        (change)="onUpdateEndDatetime()"
        #endTimePicker />
      <mat-error *ngIf="globalEndTime.errors?.timeString"> Invalid format </mat-error>
      <mat-error *ngIf="!globalEndTime.errors?.timeString && globalEndTime.errors">
        End time is required.
      </mat-error>
    </mat-form-field>
  </div>
  <!-- shipment type Incompatibilities -->
  <section class="shipment-type">
    <header>
      <div>
        <span class="mat-h4">Shipment Type Incompatibilities</span> ({{
          shipmentTypeIncompatsControl.value?.length
        }})
        <mat-error class="mb-4" *ngIf="shipmentTypeIncompatsControl.getError('duplicate')">
          Cannot have duplicate incompatibility rules
        </mat-error>
      </div>
      <button type="button" mat-button color="primary" (click)="addShipmentTypeIncompat()">
        Add shipment type incompatibility
      </button>
    </header>

    <div formArrayName="shipmentTypeIncompatibilities" class="w-100">
      <div
        *ngFor="
          let shipmentTypeIncompat of shipmentTypeIncompatsControl.controls;
          let shipmentTypeIncompatsIndex = index
        "
        [formGroupName]="shipmentTypeIncompatsIndex"
        class="d-flex flex-row align-items-center w-100 mb-2">
        <!-- types -->
        <div class="settings-item item-xl pad-right">
          <mat-form-field class="flex-grow-1 pb-0">
            <mat-label>Shipment types*</mat-label>
            <mat-chip-list #shipmentTypeIncompatibilityChipList aria-label="Shipment types">
              <mat-chip
                *ngFor="let shipmentType of shipmentTypeIncompat.value?.types"
                [selectable]="false"
                (removed)="
                  removeTypeFromShipmentTypeIncompat(shipmentType, shipmentTypeIncompatsIndex)
                ">
                {{ shipmentType }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input
                #shipmentTypeIncompatibilityInput
                [matAutocomplete]="autoIncompatTypes"
                [matChipInputFor]="shipmentTypeIncompatibilityChipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="
                  addTypeToShipmentTypeIncompat(
                    $event.value,
                    shipmentTypeIncompatsIndex,
                    $event.input
                  )
                "
                (focusout)="
                  addTypeToShipmentTypeIncompat(
                    $event.target.value,
                    shipmentTypeIncompatsIndex,
                    $event.target
                  )
                "
                (input)="updateFilteredAvailableIncompatShipmentTypes($event.data)"
                (keydown)="onShipmentTypeIncompatTypeKeyDown($event, shipmentTypeIncompatsIndex)" />
            </mat-chip-list>

            <mat-autocomplete
              class="cost-vehicles-panel"
              #autoIncompatTypes="matAutocomplete"
              (optionSelected)="
                addTypeToShipmentTypeIncompat(
                  $event.option.value,
                  shipmentTypeIncompatsIndex,
                  shipmentTypeIncompatibilityInput
                )
              ">
              <cdk-virtual-scroll-viewport
                style="height: 200px"
                [itemSize]="48"
                minBufferPx="200"
                maxBufferPx="400">
                <mat-option
                  [style.height.px]="48"
                  *cdkVirtualFor="
                    let shipmentType of (filteredAvailableIncompatShipmentTypes$ | async)[
                      shipmentTypeIncompatsIndex
                    ]
                  "
                  [value]="shipmentType">
                  {{ shipmentType }}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error
            *ngIf="
              shipmentTypeIncompat.getError('required', 'types') ||
              shipmentTypeIncompat.getError('minlength', 'types')
            ">
            At least 2 types required
          </mat-error>
          <div
            class="unused-shipment-type-warning"
            *ngIf="unusedShipmentIncompatTypes[shipmentTypeIncompatsIndex]">
            Shipment type(s) not used on any shipments:
            {{ unusedShipmentIncompatTypes[shipmentTypeIncompatsIndex] }}
          </div>
        </div>

        <!-- mode -->
        <div class="settings-item pad-right">
          <div class="mat-body-strong">Incompatibility mode*</div>
          <mat-form-field appearance="outline" class="pb-0">
            <mat-select formControlName="incompatibilityMode">
              <mat-option
                *ngFor="let mode of keys(shipmentTypeIncompatModeLabels)"
                [value]="parseInt(mode)">
                {{ shipmentTypeIncompatModeLabels[mode] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="shipmentTypeIncompat.getError('required', 'incompatibilityMode')">
            Required
          </mat-error>
        </div>

        <!-- remove -->
        <button
          type="button"
          class="clear-place"
          (click)="removeShipmentTypeIncompat(shipmentTypeIncompatsIndex)"
          mat-icon-button
          title="Remove Shipment Type Incompatibility">
          <mat-icon class="icon--smaller m-0" svgIcon="delete"></mat-icon>
        </button>
      </div>
    </div>
  </section>

  <!-- shipment type requirements -->
  <section class="shipment-type">
    <header>
      <div>
        <span class="mat-h4">Shipment Type Requirements</span> ({{
          shipmentTypeReqsControl.value?.length
        }})
        <mat-error class="mb-4" *ngIf="shipmentTypeReqsControl.getError('duplicate')">
          Cannot have duplicate requirement rules
        </mat-error>
      </div>
      <button type="button" mat-button color="primary" (click)="addShipmentTypeRequirements()">
        Add shipment type requirement
      </button>
    </header>

    <div formArrayName="shipmentTypeRequirements" class="w-100">
      <div
        *ngFor="
          let shipmentTypeReq of shipmentTypeReqsControl.controls;
          let shipmentTypeReqsIndex = index
        "
        [formGroupName]="shipmentTypeReqsIndex"
        class="d-flex flex-row align-items-center w-100 mb-2">
        <div class="d-flex flex-column flex-grow-1">
          <div class="d-flex flex-row">
            <!-- dependent shipment types -->
            <div class="settings-item item-xl pad-right">
              <mat-form-field class="flex-grow-1">
                <mat-label>Dependent shipment type(s)*</mat-label>
                <mat-hint>One or more types requiring an additional visit</mat-hint>
                <mat-chip-list #dependentShipmentTypesChipList>
                  <mat-chip
                    *ngFor="
                      let dependentShipmentType of shipmentTypeReq.value?.dependentShipmentTypes
                    "
                    [selectable]="false"
                    (removed)="
                      removeTypeFromDependentShipmentType(
                        dependentShipmentType,
                        shipmentTypeReqsIndex
                      )
                    ">
                    {{ dependentShipmentType }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    #dependentShipmentTypeInput
                    [matAutocomplete]="autoReqTypes2"
                    [matChipInputFor]="dependentShipmentTypesChipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="
                      addTypeToDependentShipmentType(
                        $event.value,
                        shipmentTypeReqsIndex,
                        $event.input
                      )
                    "
                    (input)="updateFilteredAvailableDependentShipmentTypes($event.data)"
                    (keydown)="onDependentShipmentTypeKeyDown($event, shipmentTypeReqsIndex)"
                    (focus)="updateFilteredAvailableDependentShipmentTypes('')" />
                </mat-chip-list>

                <mat-autocomplete
                  class="cost-vehicles-panel"
                  #autoReqTypes2="matAutocomplete"
                  (optionSelected)="
                    addTypeToDependentShipmentType(
                      $event.option.value,
                      shipmentTypeReqsIndex,
                      dependentShipmentTypeInput
                    )
                  ">
                  <cdk-virtual-scroll-viewport
                    style="height: 200px"
                    [itemSize]="48"
                    minBufferPx="200"
                    maxBufferPx="400">
                    <mat-option
                      [style.height.px]="48"
                      *cdkVirtualFor="
                        let shipmentType of (filteredAvailableDependentShipmentType$ | async)[
                          shipmentTypeReqsIndex
                        ]
                      "
                      [value]="shipmentType">
                      {{ shipmentType }}
                    </mat-option>
                  </cdk-virtual-scroll-viewport>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error *ngIf="shipmentTypeReq.getError('required', 'dependentShipmentTypes')">
                Required
              </mat-error>
            </div>

            <!-- required shipment type alternatives -->
            <div class="settings-item item-xl pad-right">
              <mat-form-field class="flex-grow-1">
                <mat-label>Shipment type(s) required by dependent(s)*</mat-label>
                <mat-hint>At least one of these types must also be visited</mat-hint>
                <mat-chip-list #requiredShipmentTypeAlternativesChipList>
                  <mat-chip
                    *ngFor="
                      let requiredShipmentType of shipmentTypeReq.value
                        ?.requiredShipmentTypeAlternatives
                    "
                    [selectable]="false"
                    (removed)="
                      removeAlternativeFromRequiredShipmentType(
                        requiredShipmentType,
                        shipmentTypeReqsIndex
                      )
                    ">
                    {{ requiredShipmentType }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    #requiredShipmentTypeInput
                    [matAutocomplete]="autoReqTypes1"
                    [matChipInputFor]="requiredShipmentTypeAlternativesChipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="
                      addTypeToShipmentTypeRequirements(
                        $event.value,
                        shipmentTypeReqsIndex,
                        $event.input
                      )
                    "
                    (input)="updateFilteredAvailableRequiredShipmentTypes($event.data)"
                    (keydown)="onRequiredShipmentTypeTypeKeyDown($event, shipmentTypeReqsIndex)"
                    (focus)="updateFilteredAvailableRequiredShipmentTypes('')" />
                </mat-chip-list>

                <mat-autocomplete
                  class="cost-vehicles-panel"
                  #autoReqTypes1="matAutocomplete"
                  (optionSelected)="
                    addTypeToShipmentTypeRequirements(
                      $event.option.value,
                      shipmentTypeReqsIndex,
                      requiredShipmentTypeInput
                    )
                  ">
                  <cdk-virtual-scroll-viewport
                    style="height: 200px"
                    [itemSize]="48"
                    minBufferPx="200"
                    maxBufferPx="400">
                    <mat-option
                      [style.height.px]="48"
                      *cdkVirtualFor="
                        let shipmentType of (filteredAvailableRequiredShipmentType$ | async)[
                          shipmentTypeReqsIndex
                        ]
                      "
                      [value]="shipmentType">
                      {{ shipmentType }}
                    </mat-option>
                  </cdk-virtual-scroll-viewport>
                </mat-autocomplete>
              </mat-form-field>
              <mat-error
                *ngIf="shipmentTypeReq.getError('required', 'requiredShipmentTypeAlternatives')">
                Required
              </mat-error>
            </div>
          </div>

          <div
            class="unused-shipment-type-warning"
            *ngIf="unusedShipmentReqTypes[shipmentTypeReqsIndex]">
            Shipment type(s) not used on any shipments:
            {{ unusedShipmentReqTypes[shipmentTypeReqsIndex] }}
          </div>
        </div>

        <!-- requirement mode -->
        <div class="settings-item pad-right">
          <div class="mat-body-strong">Requirement mode*</div>
          <mat-form-field appearance="outline" class="pb-0">
            <mat-select formControlName="requirementMode" #requirementMode>
              <mat-option
                *ngFor="let mode of keys(shipmentTypeRequirementModeLabels)"
                [value]="parseInt(mode)">
                {{ shipmentTypeRequirementModeLabels[mode] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="shipmentTypeReq.getError('required', 'requirementMode')">
            Required
          </mat-error>
        </div>

        <!-- remove -->
        <button
          type="button"
          class="clear-place"
          (click)="removeShipmentTypeRequirements(shipmentTypeReqsIndex)"
          mat-icon-button
          title="Remove Shipment Type Requirement">
          <mat-icon class="icon--smaller m-0" svgIcon="delete"></mat-icon>
        </button>
      </div>
    </div>
  </section>

  <!-- precedence rules -->
  <section class="shipment-type">
    <header>
      <div>
        <span class="mat-h4">Precedence Rules</span> ({{ precedenceRulesControl.controls.length }})
        <mat-error class="mb-4" *ngIf="precedenceRulesControl.getError('duplicate')">
          Cannot have duplicate precedence rules
        </mat-error>
      </div>
      <button type="button" mat-button color="primary" (click)="addPrecedenceRule()">
        Add Precedence Rule
      </button>
    </header>

    <div formArrayName="precedenceRules" class="w-100">
      <div
        *ngFor="
          let precedenceRule of precedenceRulesControl.controls;
          let precedenceRulesIndex = index
        "
        [formGroupName]="precedenceRulesIndex"
        class="d-flex flex-row w-100 mb-2">
        <!-- first shipment index -->
        <div class="settings-item pad-right">
          <div class="mat-body-strong">First shipment*</div>
          <mat-form-field appearance="outline" class="pb-0">
            <mat-select formControlName="firstIndex" #firstIndex>
              <cdk-virtual-scroll-viewport
                style="height: 200px"
                [itemSize]="48"
                minBufferPx="200"
                maxBufferPx="400">
                <mat-option
                  *cdkVirtualFor="
                    let shipment of scenarioShipments$ | async;
                    let shipmentIndex = index
                  "
                  [value]="shipmentIndex"
                  [style.height.px]="48"
                  (onSelectionChange)="
                    precedenceRule.value.firstIndex = getIndexOfShipment(shipment)
                  ">
                  {{ shipment | entityName: 'Shipment' }}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="precedenceRule.getError('required', 'firstIndex')">
            Required
          </mat-error>

          <!-- first is delivery -->
          <mat-checkbox
            [checked]="precedenceRule.value.firstIsDelivery"
            color="primary"
            formControlName="firstIsDelivery">
            First is delivery
          </mat-checkbox>
        </div>

        <!-- second shipment index -->
        <div class="settings-item pad-right">
          <div class="mat-body-strong">Second shipment*</div>
          <mat-form-field appearance="outline" class="pb-0">
            <mat-select formControlName="secondIndex" #secondIndex>
              <cdk-virtual-scroll-viewport
                style="height: 200px"
                [itemSize]="48"
                minBufferPx="200"
                maxBufferPx="400">
                <mat-option
                  *cdkVirtualFor="
                    let shipment of getPrecendenceRuleSecondIndexOptions(
                      precedenceRule.value.firstIndex
                    )
                  "
                  [value]="getIndexOfShipment(shipment)"
                  [style.height.px]="48"
                  (onSelectionChange)="
                    precedenceRule.value.secondIndex = getIndexOfShipment(shipment)
                  ">
                  {{ shipment | entityName: 'Shipment' }}
                </mat-option>
              </cdk-virtual-scroll-viewport>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="precedenceRule.getError('required', 'secondIndex')">
            Required
          </mat-error>

          <!-- second is delivery -->
          <mat-checkbox
            [checked]="precedenceRule.value.secondIsDelivery"
            color="primary"
            formControlName="secondIsDelivery">
            Second is delivery
          </mat-checkbox>
        </div>

        <!-- offset duration -->
        <div class="settings-item item-sm pad-right">
          <div class="mat-body-strong">Offset Duration</div>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="number"
              min="0"
              formControlName="offsetDuration"
              placeholder="Seconds"
              (change)="onOffsetDurationChange()" />
            <mat-error *ngIf="precedenceRule.get('offsetDuration').errors?.min">
              Non-negative number required.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- remove -->
        <div class="d-flex align-items-center">
          <button
            type="button"
            class="clear-place"
            (click)="removePrecedenceRule(precedenceRulesIndex)"
            mat-icon-button
            title="Remove precedence rule">
            <mat-icon class="icon--smaller m-0" svgIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- Transition attributes -->
  <section class="shipment-type">
    <header>
      <div>
        <span class="mat-h4">Transition Attributes</span> ({{
          transitionAttributesControl.controls.length
        }})
      </div>
      <button type="button" mat-button color="primary" (click)="addTransitionAttributes()">
        Add Transition Attribute
      </button>
    </header>
    <div formArrayName="transitionAttributes" class="w-100">
      <div
        *ngFor="let transitionAttributes of transitionAttributesControl.controls; let i = index"
        [formGroupName]="i"
        class="d-flex flex-row w-100 mb-2">
        <div class="d-flex flex-row flex-wrap">
          <!-- Source tag -->
          <div class="mr-4">
            <div class="d-flex flex-row">
              <div class="settings-item pad-right">
                <mat-form-field appearance="outline" class="unpadded-form-field">
                  <mat-label>Source tag</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="srcTag"
                    [matAutocomplete]="srcTagAuto"
                    (input)="filterTransitionAttributeTags($event.target.value)"
                    (focus)="filterTransitionAttributeTags('')" />
                  <mat-autocomplete autoActiveFirstOption #srcTagAuto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredTransitionTags$ | async"
                      [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="settings-item">
                <mat-form-field appearance="outline" class="unpadded-form-field">
                  <mat-label>Excluded source tag</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="excludedSrcTag"
                    [matAutocomplete]="excludedSrcTagAuto"
                    (input)="filterTransitionAttributeTags($event.target.value)"
                    (focus)="filterTransitionAttributeTags('')" />
                  <mat-autocomplete autoActiveFirstOption #excludedSrcTagAuto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredTransitionTags$ | async"
                      [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <mat-error
              *ngIf="
                transitionAttributes.errors?.srcTagOrExcludeSrcTag &&
                (transitionAttributes.touched || transitionAttributes.dirty)
              ">
              <span
                *ngIf="
                  transitionAttributes.get('srcTag').value &&
                    transitionAttributes.get('excludedSrcTag').value;
                  else sourceRequired
                ">
                Cannot define both a source tag and excluded source tag
              </span>
              <ng-template #sourceRequired>
                Source tag or excluded source tag is required
              </ng-template>
            </mat-error>
          </div>
          <!-- Destination tag -->
          <div class="mr-4">
            <div class="d-flex flex-row">
              <div class="settings-item pad-right">
                <mat-form-field appearance="outline" class="unpadded-form-field">
                  <mat-label>Destination tag</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="dstTag"
                    [matAutocomplete]="dstTagAuto"
                    (input)="filterTransitionAttributeTags($event.target.value)"
                    (focus)="filterTransitionAttributeTags('')" />
                  <mat-autocomplete autoActiveFirstOption #dstTagAuto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredTransitionTags$ | async"
                      [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="settings-item">
                <mat-form-field appearance="outline" class="unpadded-form-field">
                  <mat-label>Excluded destination tag</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="excludedDstTag"
                    [matAutocomplete]="excludedDstTagAuto"
                    (input)="filterTransitionAttributeTags($event.target.value)"
                    (focus)="filterTransitionAttributeTags('')" />
                  <mat-autocomplete autoActiveFirstOption #excludedDstTagAuto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of filteredTransitionTags$ | async"
                      [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <mat-error
              *ngIf="
                transitionAttributes.errors?.dstTagOrExcludeDstTag &&
                (transitionAttributes.touched || transitionAttributes.dirty)
              ">
              <span
                *ngIf="
                  transitionAttributes.get('dstTag').value &&
                    transitionAttributes.get('excludedDstTag').value;
                  else destinationRequired
                ">
                Cannot define both a destination tag and excluded destination tag
              </span>
              <ng-template #destinationRequired>
                Destination tag or excluded destination tag is required
              </ng-template>
            </mat-error>
          </div>
          <!-- Costs -->
          <div class="d-flex flex-row">
            <div class="settings-item pad-right">
              <mat-form-field appearance="outline" class="unpadded-form-field">
                <mat-label>Cost</mat-label>
                <input matInput type="number" formControlName="cost" />
              </mat-form-field>
              <mat-error *ngIf="transitionAttributes.get('cost').errors?.min">
                Must be greater than zero
              </mat-error>
            </div>
            <div class="settings-item pad-right">
              <mat-form-field appearance="outline" class="unpadded-form-field">
                <mat-label>Cost per kilometer</mat-label>
                <input matInput type="number" formControlName="costPerKilometer" />
              </mat-form-field>
              <mat-error *ngIf="transitionAttributes.get('costPerKilometer').errors?.min">
                Must be greater than zero
              </mat-error>
            </div>
          </div>
          <!-- Distance limit -->
          <div class="mr-4">
            <div class="d-flex flex-row">
              <div class="settings-item pad-right">
                <mat-form-field appearance="outline" class="unpadded-form-field">
                  <mat-label>Distance limit soft max</mat-label>
                  <input matInput type="number" formControlName="distanceLimitSoftMax" />
                </mat-form-field>
                <mat-error *ngIf="transitionAttributes.get('distanceLimitSoftMax').errors?.min">
                  Must be greater than zero
                </mat-error>
              </div>
              <div class="settings-item pad-right">
                <mat-form-field appearance="outline" class="unpadded-form-field">
                  <mat-label>Distance limit cost above soft max</mat-label>
                  <input matInput type="number" formControlName="distanceLimitCostAboveSoftMax" />
                </mat-form-field>
                <mat-error
                  *ngIf="transitionAttributes.get('distanceLimitCostAboveSoftMax').errors?.min">
                  Must be greater than zero
                </mat-error>
              </div>
            </div>
            <mat-error
              *ngIf="
                transitionAttributes.errors?.distanceLimitSoftCostRequired ||
                transitionAttributes.errors?.distanceLimitSoftMaxRequired
              ">
              <span> Soft max and cost must both be defined </span>
            </mat-error>
          </div>
          <!-- Delay -->
          <div class="d-flex flex-row">
            <app-duration-min-sec-form
              [appearance]="'outline'"
              [parentFormGroup]="transitionAttributes.controls.delay"
              [labelName]="'Delay'"></app-duration-min-sec-form>
          </div>
        </div>

        <!-- remove -->
        <div class="d-flex align-items-center">
          <button
            type="button"
            class="clear-place"
            (click)="removeTransitionAttributes(i)"
            mat-icon-button
            title="Remove transition attributes">
            <mat-icon class="icon--smaller m-0" svgIcon="delete"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</form>
