<ng-content></ng-content>
<ng-content select="[preUndoRedo]"></ng-content>
<app-undo-redo></app-undo-redo>
<button *ngIf="showModelSettings" mat-button (click)="openShipmentModelSettings.emit()">
  <mat-icon svgIcon="settings" class="mr-2"></mat-icon>Shipment model settings
</button>
<ng-content select="[postUndoRedo]"></ng-content>
<app-filter-list
  class="grow"
  [filters]="filters"
  (editFilter)="editFilter.emit($event)"
  (removeFilter)="removeFilter.emit($event)">
</app-filter-list>
<ng-content select="[endContent]"></ng-content>
<button
  class="display-columns-menu-trigger"
  mat-button
  *ngIf="displayColumns?.length > 0"
  [matMenuTriggerFor]="menu"
  aria-label="Display columns menu"
  @.disabled>
  <mat-icon svgIcon="toc_rtl"></mat-icon>
  <mat-menu #menu="matMenu" class="display-columns-menu">
    <div
      mat-menu-item
      *ngFor="let c of displayColumns; trackBy: trackDisplayColumnBy"
      [disabled]="!c.toggleable"
      (click)="$event.stopPropagation(); cb.toggle(); onDisplayColumnChange(c, cb.checked)">
      <mat-checkbox #cb color="primary" [checked]="c.active" [disabled]="!c.toggleable">{{
        c.label
      }}</mat-checkbox>
    </div>
  </mat-menu>
</button>
