@import '../../../../styles/variables.scss';

app-table-control-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $blue-lighter;
  padding: 0.25rem 0;

  app-filter-list {
    margin-right: 16px;
  }

  .grow {
    flex-grow: 1;
  }

  .columns {
    margin-left: auto;
    margin-right: 16px;
    max-width: 120px;
  }
}

.display-columns-menu {
  display: flex;
  justify-content: stretch;
  .mat-checkbox {
    flex: auto;
    pointer-events: none;
  }
}
