<h3 class="d-flex flex-column">
  <button
    mat-icon-button
    class="small-close-button"
    type="button"
    title="Cancel"
    (click)="cancel()">
    <mat-icon svgIcon="clear"></mat-icon>
  </button>
  <div class="strong">What data can I upload via CSV?</div>
</h3>
<p>
  If you have data for vehicles, shipments, or vehicle operators in individual .csv files, you can
  use this option to upload your data. You can also use this option get sample files to see how your
  data should be structured.
</p>
