<form [formGroup]="form">
  <div class="frequency-constraint-form">
    <section>
      <app-duration-min-sec-form
        [parentFormGroup]="minBreakDuration"
        [errorStateMatcher]="frequencyConstraintErrorStateMatcher"
        [labelName]="'Min Break Duration'"></app-duration-min-sec-form>
      <app-duration-min-sec-form
        [parentFormGroup]="maxInterBreakDuration"
        [errorStateMatcher]="frequencyConstraintErrorStateMatcher"
        [labelName]="'Max Inter Break Duration'"></app-duration-min-sec-form>
    </section>
    <div class="delete-frequency-constraint">
      <button
        mat-icon-button
        type="button"
        title="Remove frequency constraint"
        (click)="remove.emit()"
        *ngIf="form.enabled">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
    </div>
  </div>
</form>
