<button
  mat-button
  (click)="onLoad()"
  *ngIf="(hasStorageApi$ | async) && (allowUserStorage$ | async)">
  <mat-icon svgIcon="cloud_upload"></mat-icon>
  From cloud
</button>
<button mat-button (click)="onUpload()">
  <mat-icon svgIcon="input"></mat-icon>
  From JSON
</button>
<cdk-accordion>
  <cdk-accordion-item
    #accordionItem2="cdkAccordionItem"
    role="button"
    tabindex="0"
    id="'main-actions-accordion-header-2'"
    [attr.aria-expanded]="accordionItem2.expanded"
    aria-controls="'main-actions-accordion-body-2'">
    <button mat-button (click)="accordionItem2.toggle()" class="main-actions-accordion-header">
      <mat-icon svgIcon="save_alt"></mat-icon> Save
    </button>
    <div
      role="region"
      id="main-actions-accordion-body-2"
      class="main-actions-accordion-body"
      aria-labelledby="'main-actions-accordion-header-2'"
      [ngClass]="{ expanded: accordionItem2.expanded }">
      <button
        mat-button
        (click)="onSave()"
        *ngIf="(hasStorageApi$ | async) && (allowUserStorage$ | async)"
        class="main-actions-accordion-button">
        <mat-icon svgIcon="cloud_download"></mat-icon>
        To cloud
      </button>
      <button
        mat-button
        (click)="onDownload()"
        *ngIf="hasDownload$ | async"
        class="main-actions-accordion-button">
        <mat-icon svgIcon="save_alt"></mat-icon>
        As JSON
      </button>
      <button
        mat-button
        (click)="onCSVDownload()"
        class="main-actions-accordion-button"
        [disabled]="(hasSolution$ | async) === false">
        <mat-icon svgIcon="csv"></mat-icon>
        Routes as CSV
      </button>
      <button
        mat-button
        (click)="onPDFDownload()"
        class="main-actions-accordion-button"
        [disabled]="(hasSolution$ | async) === false">
        <mat-icon svgIcon="pdf"></mat-icon>
        Routes as PDF
      </button>
    </div>
  </cdk-accordion-item>
</cdk-accordion>

<button mat-button (click)="onHelp()">
  <mat-icon svgIcon="help"></mat-icon>
  Help
</button>
