<form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="solve()">
  <h1 mat-dialog-title class="d-flex flex-column">
    <button
      mat-icon-button
      class="small-close-button"
      type="button"
      title="Cancel"
      (click)="cancel()">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
    <span> Upload a request or response </span>
  </h1>
  <div mat-dialog-content>
    <mat-divider class="mb-4"></mat-divider>
    <h3 class="strong">What file types can I use?</h3>
    <h4 class="strong d-flex mb-2">
      Load request and response files
      <a
        (click)="openScenarioSolutionHelp()"
        class="ml-1 scenario-solution-help-icon blue-svg-icon">
        <mat-icon svgIcon="help-filled"></mat-icon>
      </a>
    </h4>
    <div class="upload-container json-upload-container d-flex flex-column">
      <div class="d-flex flex-row justify-content-between w-100 json-description-container">
        <div class="d-flex flex-column json-description">
          <div class="align-items-center d-flex">
            <div>
              <mat-icon svgIcon="json" class="json-icon"></mat-icon>
            </div>
            <span class="ml-1 mat-body-strong">.json file</span>
          </div>
          <p class="description-text">
            Use this option when you have a .json file that contains a VRP request you want to
            solve.
          </p>
        </div>
        <div class="d-flex flex-column json-description">
          <div class="align-items-center d-flex">
            <div class="blue-svg-icon">
              <mat-icon svgIcon="zip"></mat-icon>
            </div>
            <span class="ml-1 mat-body-strong">.zip file</span>
          </div>
          <p class="description-text">
            Use this option when you have a .zip file that contains both the request and response
            files. The .zip file must contain two .json files, one for the request and one for the
            response.
          </p>
        </div>
      </div>
      <div class="file-input">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="selectFile()"
          [disabled]="validatingUpload">
          {{ validatingUpload ? 'Validating...' : 'Choose a File' }}
        </button>
        <mat-form-field class="w-100 mt-3" [hideRequiredMarker]="true">
          <input
            matInput
            [placeholder]="fileName.value ? 'Selected file' : 'Select file'"
            [readonly]="true"
            [formControl]="fileName"
            [errorStateMatcher]="fileUploadErrorStateMatcher"
            required />
          <mat-error
            *ngIf="
              fileName.errors?.required && fileName.touched && fileName.dirty && !validatingUpload
            ">
            File is required.
          </mat-error>
          <mat-error *ngIf="fileName.errors?.zipContents && (fileName.touched || fileName.dirty)">
            {{ getZipErrorMessage() }}
          </mat-error>
          <mat-error *ngIf="fileName.errors?.fileFormat && (fileName.touched || fileName.dirty)">
            The provided file cannot be loaded. Only valid .json and .zip files are supported.
          </mat-error>
          <mat-error *ngIf="fileName.errors?.requestFormat && (fileName.touched || fileName.dirty)">
            The provided request is not valid.
          </mat-error>
        </mat-form-field>
        <!-- resolve place ids -->
        <div
          *ngIf="scenarioHasPlaceIds && placeIdProgress < placeIdCount"
          class="d-flex flex-column mat-small mt-3">
          <div *ngIf="!resolvingPlaceIds" class="d-flex flex-column align-items-center">
            <p>
              ⚠️ This request contains Place ID waypoints. Some features of the application require
              lat/lng locations. Click the button below to request the lat/lng location of all Place
              IDs in the request (it will take a few minutes). You may continue with just the Place
              IDs, but some parts of the application may not work properly.
            </p>
            <button
              type="button"
              mat-stroked-button
              color="primary"
              class="white-button"
              (click)="resolveWaypointPlaceIds()">
              Get Place ID Locations
            </button>
          </div>

          <div *ngIf="resolvingPlaceIds">
            <mat-progress-bar [value]="(placeIdProgress / placeIdCount) * 100"></mat-progress-bar>
            <mat-label
              >Requesting Place ID locations... ({{ placeIdProgress | number }} of
              {{ placeIdCount | number }})</mat-label
            >
          </div>

          <mat-error *ngIf="placeIdError">
            {{ placeIdError }}
          </mat-error>
        </div>
        <!-- file input browser (not visible) -->
        <input
          #fileInput
          type="file"
          accept=".json,.zip"
          (cancel)="onCancelSelectFile()"
          (click)="fileUploadClicked($event)"
          (change)="fileSelected($event)" />
      </div>
    </div>
    <h4 class="strong d-flex mt-4 mb-2">
      Load shipment and vehicle data individually
      <a (click)="openCsvHelp()" class="ml-1 scenario-solution-help-icon blue-svg-icon">
        <mat-icon svgIcon="help-filled"></mat-icon>
      </a>
    </h4>
    <div class="upload-container csv-upload-container d-flex flex-column">
      <div class="align-items-center d-flex">
        <mat-icon svgIcon="csv2"></mat-icon>
        <span class="ml-1 mat-body-strong">.csv files</span>
      </div>
      <p class="description-text">
        Use this option when you have a CSV files that contain shipment and/or vehicle data.
      </p>
      <div>
        <button
          type="button"
          mat-stroked-button
          color="primary"
          class="white-button"
          (click)="loadFromCsv()">
          Continue
        </button>
      </div>
    </div>
  </div>
</form>
