<div mat-dialog-title>
  <h2 class="inline mat-h2">Regenerate solution</h2>
  <button mat-icon-button type="button" title="Cancel" (click)="cancel.emit()">
    <mat-icon svgIcon="clear"></mat-icon>
  </button>
</div>
<div mat-dialog-content>
  You are going to regenerate the solution based on the new planned scenario. The old solution will
  be replaced by the new one.
</div>
<div mat-dialog-actions>
  <button type="button" mat-button color="primary" (click)="confirm.emit()">
    Generate new solution
  </button>
</div>
