@import '../../../../styles/variables.scss';

.settings-item {
  display: flex;
  flex-direction: column;
}

.model-items {
  gap: 2rem;
}

.time-input {
  margin-bottom: -1em;
}

.shipment-type {
  width: 100%;
}

mat-error {
  font-size: 0.8em;
}

.edit-menu-content {
  &.mat-elevation-z1 {
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.015);
  }

  h3,
  h4 {
    margin: 0;
    width: 100%;
  }

  mat-form-field {
    padding-top: 0;
  }

  > header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.time-windows > header {
  align-items: flex-start;
}
