<app-table
  #table
  [dataSource]="dataSource"
  [itemsSelected]="itemsSelected"
  [columnsToDisplay]="columnsToDisplay"
  [totalSelectableItems]="totalItems"
  (selectAll)="selectAll.emit()"
  (deselectAll)="deselectAll.emit()"
  [selectDisabled]="changeDisabled"
  (selectedChange)="selectedChange.emit($event)"
  (sortChange)="sortChange.emit($event)"
  matSort
  [matSortActive]="sort?.active"
  [matSortDirection]="sort?.direction"
  (matSortChange)="sortChange.emit($event)">
  <ng-container matColumnDef="id" sticky>
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let item">{{ item.id }}</td>
  </ng-container>
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Label</th>
    <td mat-cell *matCellDef="let item" class="vehicle-operator-chips">
      <ng-container *ngIf="item.label | splitLabel as labels; else listNilCharacter">
        <span *ngFor="let label of labels">{{ label }}</span>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let item">
      <ng-container *ngIf="item.type | splitLabel as types; else listNilCharacter">
        <span *ngFor="let type of types">{{ type }}</span>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="startTimeWindow">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span>Start Time Window</span></th>
    <td mat-cell *matCellDef="let item" class="time-window">
      <ng-container
        *ngIf="item?.startTimeWindows?.[0] | formatHardTimeWindow: null:timezoneOffset as tw; else listNilCharacter">
        <div class="time-window__time">
          {{ tw.startTime }}
          <ng-container *ngIf="tw.startTime && tw.endTime"> - </ng-container>
          {{ tw.endTime }}
        </div>
        <div class="time-window__date">
          {{ tw.startDate }}
          <ng-container *ngIf="tw.startDate && tw.endDate"> - </ng-container>
          {{ tw.endDate }}
        </div>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="endTimeWindow">
    <th mat-header-cell *matHeaderCellDef mat-sort-header><span>End Time Window</span></th>
    <td mat-cell *matCellDef="let item" class="time-window">
      <ng-container
        *ngIf="item?.endTimeWindows?.[0] | formatHardTimeWindow: null:timezoneOffset as tw; else listNilCharacter">
        <div class="time-window__time">
          {{ tw.startTime }}
          <ng-container *ngIf="tw.startTime && tw.endTime"> - </ng-container>
          {{ tw.endTime }}
        </div>
        <div class="time-window__date">
          {{ tw.startDate }}
          <ng-container *ngIf="tw.startDate && tw.endDate"> - </ng-container>
          {{ tw.endDate }}
        </div>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="menu" stickyEnd>
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <div class="menu-vehicleOperators">
        <button class="menu-button" type="button" mat-icon-button (click)="onEdit(item.id)">
          <mat-icon>create</mat-icon>
        </button>
        <button class="menu-button" type="button" mat-icon-button (click)="onDelete(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <ng-template #listNilCharacter>
    <span>-</span>
  </ng-template>
</app-table>
<button
  mat-fab
  class="add-vehicle"
  type="button"
  color=""
  title="Add vehicle Operator"
  (click)="add.emit()"
  [disabled]="changeDisabled">
  <mat-icon svgIcon="add_color"></mat-icon>
</button>
