/* Nav - mini */
.nav-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 64px;
  background: #ffffff;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10.67px;
  height: 48px;
  flex-grow: 1;
}

/* Logo_Maps_Pin */
.logo-maps-pin {
  width: 42.67px;
  height: 42.67px;
}

/* Google Maps Platform */
.google-maps-platform {
  height: 48px;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.011em;
  color: #1e1e1e;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.bug-report {
  color: #444746;

  &:hover {
    color: #1e1e1e;
  }
}
