<app-logo></app-logo>
<section id="page-title" class="page-content mb-0">
  <span>What is Fleet Routing App?</span>
</section>
<section class="intro page-content">
  <p>
    Fleet Routing App is an open source web application intended to showcase the functionality of
    GMP Route Optimization API (formerly Cloud Fleet Routing / CFR), and help developers better
    evaluate and onboard to the product. It also serves as a sample UI implementation that
    demonstrates how a dispatcher planning app integrates with the Route Optimization API.
  </p>
  <p>
    GMP Route Optimization API solves Vehicle Routing Problems (VRPs) for developers from across
    different industries such as Logistics, On Demand Deliveries, Field Services and more.
  </p>
  <p>
    <a href="https://cloud.google.com/optimization/docs/introduction/get_started" target="_blank"
      >Learn more <mat-icon svgIcon="open_in_new" class="inline-link-icon"></mat-icon
    ></a>
  </p>
</section>
<section class="entry-points d-flex page-content">
  <p class="mat-body-strong mb-0">Select one of the options below to start.</p>
  <div class="d-flex main-entry-points">
    <button
      type="button"
      mat-stroked-button
      color="primary"
      class="entry-point-button"
      (click)="upload()">
      <mat-icon svgIcon="input"></mat-icon>
      <span class="ml-3">Load...</span>
    </button>
    <div class="col"></div>
    <div class="col">
      <button
        type="button"
        mat-stroked-button
        color="primary"
        class="entry-point-button"
        (click)="newScenario()">
        <mat-icon svgIcon="add"></mat-icon>
        <span class="ml-2">Create new</span>
      </button>
    </div>
  </div>
  <div
    class="col cloud-invisible"
    [ngClass]="{ 'cloud-visible': (hasStorageApi$ | async) && (allowUserStorage$ | async) }">
    <a class="cloud-button" (click)="loadFromStorage()">
      <mat-icon svgIcon="bookmark"></mat-icon>
      Open from a Cloud Project
    </a>
  </div>
</section>
<section class="page-content">
  <p class="mat-body-strong">More information</p>
  <p>
    <a (click)="onHelp()"
      >App help docs <mat-icon svgIcon="open_in_new" class="inline-link-icon"></mat-icon
    ></a>
  </p>
  <p>For questions, reach out at gmpro-support@google.com</p>
  <p>
    By using this demo app you agree to the terms and conditions of the following license:
    <a href="https://cloud.google.com/maps-platform/terms" target="_blank"
      >Google Maps Platform <mat-icon svgIcon="open_in_new" class="inline-link-icon"></mat-icon
    ></a>
  </p>
</section>
