@import '../../../../styles/variables.scss';

:host {
  background-color: #00000000;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

mat-divider {
  margin-bottom: 3px;
  visibility: hidden;
}
