@import '../../../../styles/variables.scss';

.scenario-input {
  max-width: 50vw;
  min-width: 14em;
  border-width: 2px;
  border-style: inset;
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
}

.scenario-input:hover {
  border-color: rgb(118, 118, 118);
}

.scenario-input:focus,
.scenario-input:focus-visible {
  border-color: $primary;
}
