app-time-navigation {
  display: flex;
  align-items: center;

  .mat-stroked-button {
    background-color: white;
    border-radius: 12px;
    min-width: 35px;
    min-height: 35px;
    padding: 0;
  }
  .now {
    padding: 0 12px;
  }
  label,
  .mat-stroked-button {
    margin-left: 8px;
  }
}

.offset-picker {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 2rem;
}

.next-button {
  margin-left: 0 !important;
}
