<button
  *ngIf="nowRangeOffset != null"
  class="now"
  type="button"
  mat-stroked-button
  (click)="onNowClick()">
  Today
</button>
<button
  type="button"
  mat-stroked-button
  (click)="onPreviousClick()"
  [disabled]="previousRangeOffset == null">
  <mat-icon svgIcon="navigate_before" [attr.title]="'Previous ' + range?.label"></mat-icon>
</button>
<label>{{ getFormattedRangeOffset() }}</label>
<mat-form-field class="offset-picker" appearance="standard">
  <input matInput [value]="currentOffsetDate" [min]="globalStart" [max]="globalEnd" [matDatepicker]="offsetPicker" (dateChange)="onDateChange($event)">
  <mat-datepicker #offsetPicker></mat-datepicker>
</mat-form-field>
<button mat-icon-button type="button" title="Open calendar" (click)="offsetPicker.open()">
  <mat-icon svgIcon="calendar"></mat-icon>
</button>
<button
  class="next-button"
  type="button"
  mat-stroked-button
  (click)="onNextClick()"
  [disabled]="nextRangeOffset == null">
  <mat-icon svgIcon="navigate_next" [attr.title]="'Next ' + range?.label"></mat-icon>
</button>
