<div class="settings-contents">
  <h3 class="d-inline mat-h3">Request Settings</h3>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Global">
      <app-pre-solve-global-settings> </app-pre-solve-global-settings>
    </mat-tab>
    <mat-tab label="Shipment Model">
      <app-pre-solve-shipment-model-settings> </app-pre-solve-shipment-model-settings>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="save-controls mat-elevation-z8">
  <button
    type="button"
    mat-stroked-button
    color="primary"
    class="light-stroked-button"
    (click)="onCancel()"
    (keydown.enter)="onCancel()"
    (keydown.space)="onCancel()"
    [disabled]="saveDisabled">
    Cancel
  </button>
  <button
    type="button"
    mat-flat-button
    color="primary"
    (click)="onSave()"
    (keydown.enter)="onSave()"
    (keydown.space)="onSave()"
    [disabled]="saveDisabled">
    Save
  </button>
</div>
