<app-table-control-bar
  [showModelSettings]="false"
  [filters]="filters$ | async"
  (editFilter)="onEditFilter($event)"
  (removeFilter)="onRemoveFilter($event)">
  <app-filter-menu
    [filters]="filters$ | async"
    [filterOptions]="filterOptions$ | async"
    (addFilter)="onAddFilter($event)">
  </app-filter-menu>
  <app-timezone-edit
    endContent
    appearance="outline"
    [currentTimezone]="currentTimezone$ | async"
    (timezoneSelected)="onUpdateTimezone($event)">
  </app-timezone-edit>
  <mat-select
    endContent
    class="range"
    *ngIf="(ranges$ | async)?.length"
    [attr.title]="(range$ | async)?.label"
    [ngModel]="rangeIndex$ | async"
    (ngModelChange)="onRangeIndexSelect($event)"
    [ngModelOptions]="{ standalone: true }">
    <mat-option *ngFor="let r of ranges$ | async; trackBy: trackRangeBy; let i = index" [value]="i">
      {{ r.label }}
    </mat-option>
  </mat-select>
</app-table-control-bar>
