<ng-content></ng-content>
<app-filter-list
  [filters]="filters"
  (editFilter)="editFilter.emit($event)"
  (removeFilter)="removeFilter.emit($event)">
</app-filter-list>
<app-timezone-edit
  [currentTimezone]="currentTimezone"
  (timezoneSelected)="updateTimezone.emit($event)">
</app-timezone-edit>
<mat-select
  class="range"
  *ngIf="ranges?.length"
  [attr.title]="range?.label"
  [ngModel]="rangeIndex"
  (ngModelChange)="rangeIndexSelect.emit($event)"
  [ngModelOptions]="{ standalone: true }">
  <mat-option *ngFor="let r of ranges; trackBy: trackRangeBy; let i = index" [value]="i">
    {{ r.label }}
  </mat-option>
</mat-select>
