@import '../../../../styles/variables.scss';

:host {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $blue-lighter;

  .filters {
    flex-grow: 1;
    margin-right: 16px;
  }

  .range {
    margin-right: 16px;
    max-width: 120px;
  }

  app-timezone-edit {
    margin-left: auto;
    margin-right: 16px;
    margin-top: 4px;
    width: 20rem;
  }
}
