@import '../../../../styles/variables.scss';

:host {
  display: block;
}

.datetime {
  display: flex;
  flex-wrap: wrap;
}

.time {
  width: max-content;
}

header {
  color: $gray;
  &:not(:first-of-type) {
    margin-top: 1rem;
  }
}

header.break-rule {
  display: flex;
  align-items: center;
  button {
    margin-left: auto;
  }
}

header + section {
  margin-top: 0;
}

.to-text {
  margin-top: 1rem;
}
.break-request-form {
  display: flex;
}
.delete-break-request {
  align-self: center;
}
