<app-map-wrapper [options]="options$ | async" (mapInitialize)="onMapInitialize($event)">
</app-map-wrapper>
<app-post-solve-map-legend
  *ngIf="!isPreSolve()"
  [mapLayers]="layers$ | async"
  (setLayerVisibility)="onSetLayerVisibility($event)">
</app-post-solve-map-legend>
<app-map-add-buttons
  *ngIf="isPreSolve()"
  (addShipment)="addShipment()"
  (addVehicle)="addVehicle()"></app-map-add-buttons>
<app-map-type-button (typeChange)="onTypeChange($event)"> </app-map-type-button>
<app-toggle-selection-filter-button
  *ngIf="mapSelectionToolsVisible$ | async"
  [active]="selectionFilterActive$ | async"
  (activeChange)="onToggleSelectionFilter($event)">
</app-toggle-selection-filter-button>
<app-select-map-items-button
  *ngIf="mapSelectionToolsVisible$ | async"
  (activeChange)="onToggleSelectMapItems($event)">
</app-select-map-items-button>
<app-zoom-home-button (zoomToHome)="onZoomToHome()" [disabled]="!bounds"></app-zoom-home-button>
