<app-base-routes-row
  [route]="route"
  [vehicle]="vehicle$ | async"
  [selected]="selected$ | async"
  (selectedChange)="onSelectedChange($event)"
  [shipmentCount]="shipmentCount$ | async"
  [duration]="duration$ | async"
  [availability]="availability$ | async"
  [timeline]="timeline$ | async"
  [pointsOfInterest]="pointsOfInterest$ | async"
  [pendingNewPois]="pendingNewPois$ | async"
  [pendingOldVisitIds]="pendingOldVisitIds$ | async"
  [timezoneOffset]="timezoneOffset$ | async"
  [changedVisits]="changedVisits$ | async"
  [relaxationTimes]="relaxationTimes$ | async"
  [range]="range$ | async"
  (pointOfInterestClick)="onPointOfInterestClick($event)"
  (editVehicle)="onEditVehicle($event)"
  (viewMetadata)="onViewMetadata($event)">
</app-base-routes-row>
