<app-base-routes-row
  [isDragging]="isDragging$ | async"
  [currentDragVisitIds]="dragVisitIds$ | async"
  [route]="route"
  [vehicle]="vehicle$ | async"
  [selected]="selected$ | async"
  (selectedChange)="onSelectedChange($event)"
  [shipmentCount]="shipmentCount$ | async"
  [duration]="duration$ | async"
  [availability]="availability$ | async"
  [timeline]="timeline$ | async"
  [pointsOfInterest]="pointsOfInterest$ | async"
  [pendingNewPois]="pendingNewPois$ | async"
  [pendingOldVisitIds]="pendingOldVisitIds$ | async"
  [timezoneOffset]="timezoneOffset$ | async"
  [currentOverlapId]="currentOverlapId$ | async"
  [changedVisits]="changedVisits$ | async"
  [relaxationTimes]="relaxationTimes$ | async"
  [range]="range$ | async"
  (dragStart)="onDragStart($event)"
  (timelineEnter)="onTimelineEnter($event)"
  (timelineLeave)="onTimelineLeave()"
  (pointOfInterestClick)="onPointOfInterestClick($event)"
  (editVehicle)="onEditVehicle($event)"
  (viewMetadata)="onViewMetadata($event)"
  (mouseEnterVisit)="onMouseEnterVisit($event)"
  (mouseExitVisit)="onMouseExitVisit()">
</app-base-routes-row>
