:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-actions {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.file-input__form-field {
  display: flex;
  align-items: center;
}

.file-input__form-field mat-form-field.mat-form-field {
  flex-grow: 1;
  width: auto;
}

.file-input__form-field :last-child {
  flex-grow: 0;
  margin-left: 16px;
}

.file-input input[type='file'] {
  opacity: 0;
  height: 0;
}

.mat-dialog-content {
  overflow-x: hidden;
  max-height: unset;
}

.preview-table {
  overflow: auto;
}

.mat-cell,
.mat-header-cell {
  padding: 0 1rem !important;
}

.field-match-select {
  margin: 0 1rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.geocode-results {
  height: 60vh;
}

.csv-map-container {
  width: 100%;
  height: 100%;

  app-form-map {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.geocode-results-split {
  display: flex;
  width: 100%;
  height: 100%;

  mat-error {
    font-size: 0.8em;
  }
}

.resolve-geocode-errors {
  overflow: auto;
}
