<app-table-control-bar
  [showBulkEdit]="showBulkEdit$ | async"
  [showBulkDelete]="showBulkDelete$ | async"
  [filters]="filters$ | async"
  (editFilter)="onEditFilter($event)"
  (removeFilter)="onRemoveFilter($event)"
  [displayColumns]="displayColumns$ | async"
  (displayColumnChange)="onDisplayColumnChange($event)"
  (bulkEdit)="onBulkEdit()"
  (bulkDelete)="onBulkDelete()">
  <app-filter-menu
    [filters]="filters$ | async"
    [filterOptions]="filterOptions$ | async"
    (addFilter)="onAddFilter($event)">
  </app-filter-menu>
</app-table-control-bar>
